[submodule "arceos"]
	path = arceos
	url = https://github.com/kylin-x-kernel/arceos.git
	branch = dev
[submodule "local_crates/axdriver_crates"]
	path = local_crates/axdriver_crates
	url = https://github.com/kylin-x-kernel/axdriver_crates.git
	branch = dev
[submodule "local_crates/axplat_crates"]
	path = local_crates/axplat_crates
	url = https://github.com/kylin-x-kernel/axplat_crates.git
	branch = dev
[submodule "local_crates/axplat-aarch64-crosvm-virt"]
	path = local_crates/axplat-aarch64-crosvm-virt
	url = https://github.com/kylin-x-kernel/axplat-aarch64-crosvm-virt.git
	branch = main
[submodule "local_crates/fdtree-rs"]
	path = local_crates/fdtree-rs
	url = https://github.com/kylin-x-kernel/fdtree-rs.git
[submodule "local_crates/arm-gic"]
	path = local_crates/arm-gic
	url = https://github.com/kylin-x-kernel/arm-gic.git
[submodule "local_crates/kernel_guard"]
	path = local_crates/kernel_guard
	url = https://github.com/kylin-x-kernel/kernel_guard
	branch = main
[submodule "local_crates/axcpu"]
	path = local_crates/axcpu
	url = https://github.com/kylin-x-kernel/axcpu
[submodule "page_table_multiarch"]
	path = local_crates/page_table_multiarch
	url = https://github.com/kylin-x-kernel/page_table_multiarch.git
	branch = dev
[submodule "local_crates/axplat-x86-csv"]
	path = local_crates/axplat-x86-csv
	url = https://github.com/kylin-x-kernel/axplat-x86-csv.git
[submodule "local_crates/axplat-bootloader"]
	path = local_crates/axplat-bootloader
	url = https://github.com/luodeb/axplat-bootloader.git
