Cargo.lock
/.idea
.DS_Store
*.elf
*.bin
*.dbg
**/target/
/.axconfig.*
*.img
/kernel-rv
/kernel-la
/.cargo
/.crates*
/mnt
*.swp
*.swo

# Code statistics cache
/.cache/
/code-stats/

/arceos/
/local_crates/arm-gic/
/local_crates/axcpu/
/local_crates/axdriver_crates/
/local_crates/axplat-aarch64-crosvm-virt/
/local_crates/axplat_crates/
/local_crates/fdtree-rs/
/local_crates/kernel_guard/
/local_crates/page_table_multiarch/

